<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title>
          Issledovanie privoda podachi s dvigatelem postoyannogo toka
        </q-toolbar-title>

        <div>Bekzat Kubanychbek uulu</div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
    >
      <q-list>
        <q-item-label
          header
        >
          Zadachi
        </q-item-label>

        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from 'vue'
import EssentialLink from 'components/EssentialLink.vue'

const linksList = [
  {
    title: 'Task 1',
    caption: 'quasar.dev',
    icon: 'mdi-play',
    link: 'task1'
  },
  {
    title: 'Task 2',
    caption: 'github.com/quasarframework',
    icon: 'mdi-play',
    link: 'task2'
  },
  {
    title: 'Task 3',
    caption: 'chat.quasar.dev',
    icon: 'mdi-play',
    link: 'task3'
  },
  {
    title: 'Task 4',
    caption: 'forum.quasar.dev',
    icon: 'mdi-play',
    link: 'task4'
  },
  {
    title: 'Task 5',
    caption: '@quasarframework',
    icon: 'mdi-play',
    link: 'task5'
  }
]

export default defineComponent({
  name: 'MainLayout',

  components: {
    EssentialLink
  },

  setup () {
    const leftDrawerOpen = ref(false)

    return {
      essentialLinks: linksList,
      leftDrawerOpen,
      toggleLeftDrawer () {
        leftDrawerOpen.value = !leftDrawerOpen.value
      }
    }
  }
})
</script>
